/*	
	******************
	** Main Section **
	******************
*/
#mainSection {
	width: 100vw;
	height: 100vh;
	color: #f6f6ff;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}



/*
	*************************
	** Secondary Container **
	*************************
*/
#secondaryContainer {
	width: 80vw;
	height: 80vh;
	border-radius: 20px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}



/*
	********************
	** Section 1 Area **
	********************
*/
#section1Area {
	width: 100%;
	height: 80%;
	background-color: #d7ecff;
	border-radius: 20px 20px 0px 0px;
	border-bottom: 2px solid #363636;
	padding: 10px 0px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

#titleContainer {
	width: 100%;
	height: 20%;
	color: #363636;
	text-align: center;
	user-select: none;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/*///////////////////////////*/

#converterArea {
	width: 100%;
	height: 80%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

/*///////////////////////////*/

#extractorTextContainer {
	width: 100%;
	height: 80%;
	padding: 10px 0px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#extractedTextContainer {
	width: 80%;
	height: 80%;
	color: #363636;
	background-color: #f6f6ff;

	border:2px solid #363636;
	border-radius: 5px;
	padding: 10px;
	overflow-y: auto;
	overflow-x: hidden;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#extractedTextField {
	width: 95%;
	height: 100%;
	text-indent: 1em;
	word-wrap: break-word;
}

#copyExtractedText {
	height: 20px;
	opacity: 0.8;
	cursor: pointer;
	user-select: none;
	transition: all 0.3s ease;
}

#copyExtractedText:hover {
	opacity: 1;
	transform: translateY(-2px);
}

/*///////////////////////////*/

#recordButtonContainer {
	width: 100%;
	height: 20%;
	user-select: none;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	gap: 5px;
}

#recordButton, #cleanTextButton {
	color: #f6f6ff;
	background-color: #363636;
	border-radius: 50%;
	padding: 10px;

	opacity: 0.8;
	cursor: pointer;
	transition: all 0.3s ease;
}

#recordButton:hover, #cleanTextButton:hover {
	opacity: 1;
	transform: translateY(-2px);
}


@keyframes flickerAnimation {
	0% { opacity: 0.75 }
	50% { opacity: 1 }
	100% { opacity: 0.75 }
}

.recordButtonRecordingStatus {
	-webkit-animation: flickerAnimation 2s infinite;
	-moz-animation: flickerAnimation 2s infinite;
	-o-animation:  flickerAnimation 2s infinite;
	animation:  flickerAnimation 2s infinite;
}



/*
	*******************
	** Section 2 Area **
	*******************
*/
#section2Area {
	width: 100%;
	height: 20%;
	background-color: #7159c1;
	border-radius: 0px 0px 20px 20px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
}

#languageSelectorContainer {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 10px;
	gap: 5px;
	user-select: none;
}

#languageSelector {
    width: 100%;
    max-width: 250px;
    height: 50px;
    border-radius: 5px;
    outline: none;
    border: none;
    text-align: center;

    appearance: none;
    -webkit-appearance: none;
  	-moz-appearance: none;

	cursor: pointer;
	transition: all 0.3s ease;
}

#languageSelector:hover { transform: translateY(-2px); }
#languageSpan { font-weight: bold; font-size: 1em; user-select: none; }

/*
	************
	** Mobile **
	************
*/
@media only screen and (max-width: 600px) {
	
}